.photo{
    width: 65%;
    height: 35%;
    margin: 2%;

}

/*ol > li {*/
    /*height: 20px;*/
    /*margin-right: 0px;*/
    /*padding: 0 20px;*/
    /*display: inline;*/
/*}*/


.win {
    margin: 2%;
    border: solid #29314e;
    background: darkslategrey;
    color: white;
}

li:last-child {
     border-right: solid;
}
.back{
    background-image: url("http://world-of-mods.ucoz.org/frontsite.jpg");
}

/*th{*/
    /*color: #DC3B3B;*/

/*}*/
/*tr{*/
    /*margin-left: 50%;*/
    /*margin-right: 50%;*/
/*}*/

label{
    color: white;
}
.fixInput{
    margin-left: 3%;
}