.color{
    background-image: url("http://world-of-mods.ucoz.org/frontsite.jpg");
    color: white;
    font-weight: 700;
}

input.form-control{

    width: 30%;
}

input::-webkit-input-placeholder {
    color: red !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: red !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: red !important;
}

input:-ms-input-placeholder {
    color: red !important;
}