.border{
    border: 2px solid black;
    height:100px;
    margin: 5%;
}

.color{
    background-image: url("http://world-of-mods.ucoz.org/frontsite.jpg");
}

.bak{
    background-color: #444444;
    display: inline;
}
.pos{
    vertical-align: middle;
}

/*.proba{*/
    /*z-index: 1000;*/
/*}*/

.photo{

    width: 65%;
    height: 30%;
margin: 2%;

}
.asd{
    margin: 2%;
    border: solid #29314e;
    background: darkslategrey;
    color: white;
}
.page{
    color: white;
    text-align: center;
    font-weight: 800;
}

#q1q2{
    color: white;
}
.win {
    margin: 2%;
    border: solid #29314e;
    background: darkslategrey;
    color: white;
}